<div class="wrapper">
    <div class="sidebar" [ngStyle]="{'height.px':  innerHeight, 'width': '250px'}">
        <ul class="menu">
            <li *ngFor="let item of sidebarData" [routerLink]="item?.path" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">
                <a href="javascript:void(0)">
                    <span class="icon">
                        <i [class]="item?.icon"></i>
                    </span>
                    <span class="item">{{item?.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>