* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 0rem;
}

.active a {
  background: #00b382 !important;
  color: #fff !important;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 92%;
  .icon {
    color: #fff !important;
  }
}

app-sidebar {
  // margin-top: 100px;
}

.sidebar {
  display: inline-block;
  background: #fff;

  // position: fixed;
  // left: 0;
  // top: 0;
  // bottom: 0;
  // max-width: 0;
  // transition: all 0.2s var(--timing-func);
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

a {
  display: flex;
  margin: 20px;
}

.icon {
  margin-right: 18px;
  margin-top: -5px;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a {
  color: #000000;
  background: white;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a .icon {
  color: #000000;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a:before {
  display: block;
}

.icon {
  font-size: 20px;
  color: red;
}
