a {
  text-decoration: none;
  color: #000;
}

// body {
//   min-height: 1200px;
// }

app-header {
  .header {
    // position: fixed;
    // left: 0;
    // right: 0;
    // width: 100%;
    background-color: #fff;
    height: unset;
    display: flex;
    padding: 0.2rem;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    justify-content: space-between;
    .header {
      justify-content: space-between;
      box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
    }
  }
}
.logo img {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
  margin-left: 24px;
}

.navigation ul,
.navigation li {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.icon-button {
  position: relative;
  // display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  // color: #333333;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
}
.count .icon-button i {
  font-size: 18px;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 15px;
  height: 15px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  // align-items: center;
  border-radius: 50%;
}

.nav {
  font-size: 18px;
}
