<div class="main-cont">
    <div class="searchBox">
        <div class="filterArea">
            <i class="icon-research-outline-1"></i>
            <input type="text" (ngModelChange)="onTextChange($event)" [(ngModel)]="search.text"
                placeholder="Search inventory...">
            <i class="icon-filters-outline-1" style="margin-right: 2rem;"></i>
        </div>

        <button class="prime-btn" [routerLink]="['/dashboard/add-product']">
            <i class="icon-plus-outline-1"></i>
            Add Product
        </button>
    </div>

    <div class="box tableBox" [ngStyle]="{'height.px':  innerHeight}">
        <!-- table code here  -->
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>price</th>
                    <th>category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf=listFound>
                <tr *ngFor="let item of productList; let i = index">
                    <td>{{(i+1)+((search.offset-1)*search.size)}}</td>
                    <td>
                        <img src="{{item?.image[0]}}" class="productImage" alt="">
                    </td>
                    <td>{{item?.name}}</td>
                    <td>$ {{item?.price}}</td>
                    <td>{{item?.category}}</td>
                    <td>
                        <button type="button" class="button" (click)="openConfirmModal(item?._id)">
                            <i class="icon-trash-outline-1"></i>
                        </button>
                        <button type="button" (click)="editClick(item?._id)" style="margin-left: 12px;" class="button">
                            <i class="icon-pencil-outline-1"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf=!listFound>
                <tr>
                    <th colspan="12" class="textCenter">No Data Available</th>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="pageing">
    <p>Show 50 out of 200 items</p>
    <div class="pagination">
        <app-pagination class="pagination-div" [limit]="search.size" (onPaginationChange)="onPaginationChange($event)"
            [total]="search.total" [selected]="search.offset">
        </app-pagination>
    </div>
</div>