<div class="main-cont">
    <div class="searchBox">
        <div class="filterArea">
            Add Product
        </div>
    </div>

    <form>
        <div class="box form-box">
            <h1>Basic Information</h1>
            <div class="grid">
                <div class="input-group grid3">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter name" id="name">
                    <!-- <app-input label="Name" controlName="name" [parentForm]="form"></app-input> -->
                </div>
                <div class="input-group grid3">
                    <label for="category">Category</label>
                    <input type="text" placeholder="Enter Category" id="category">
                </div>
                <div class="input-group grid3">
                    <label for="inventry">Inventry</label>
                    <input type="text" placeholder="Enter inventry" id="inventry">
                </div>
            </div>
        </div>

        <div class="box form-box">
            <h1>Pricing And avalabelity</h1>
            <div class="grid">
                <div class="input-group grid3">
                    <label for="Price">Price</label>
                    <input type="number" placeholder="Enter price" id="Price">
                </div>
                <div class="input-group grid3">
                    <label for="description">Description</label>
                    <input type="text" placeholder="Enter description" id="description">
                </div>
                <div class="input-group grid3">
                    <label for="tags">Tags</label>
                    <input type="text" placeholder="Enter tags" id="tags">
                </div>
            </div>
        </div>

        <div class="box form-box">
            <h1>Images</h1>
            <div class="grid">
                <div class="input-group grid3">
                    <input type="file" id="file">
                </div>
            </div>
        </div>

        <div class="commonBtn">
            <button type="submit" class="primary-btn" (click)="submit()">Create</button>
        </div>

    </form>
</div>