<div class="main-cont">
    <div class="searchBox">
        <div class="filterArea">
            Add Product
        </div>
    </div>

    <form [formGroup]="form">
        <div [ngStyle]="{'height.px':  innerHeight}">
            <div class="box form-box">
                <h1>Basic Information</h1>
                <div class="grid">
                    <div class="input-group grid3">
                        <!-- <label for="name">Name</label> -->
                        <!-- <input type="text" placeholder="Enter name" id="name"> -->
                        <app-input label="Name" controlName="name" placeholder="Enter name" type="text"
                            [parentForm]="form" id="name"></app-input>
                    </div>
                    <div class="input-group grid3">
                        <!-- <label for="category">Category</label>
                        <input type="text" placeholder="Enter Category" id="category"> -->
                        <app-input label="Category" controlName="category" placeholder="Enter Category" type="text"
                            [parentForm]="form" id="category"></app-input>
                    </div>
                    <div class="input-group grid3">
                        <!-- <label for="inventry">Inventry</label>
                        <input type="text" placeholder="Enter inventry" id="inventry"> -->
                        <app-input label="Inventry" controlName="inventry" placeholder="Enter Inventry" type="number"
                            [parentForm]="form" id="inventry"></app-input>
                    </div>
                </div>
            </div>

            <div class="box form-box">
                <h1>Pricing And avalabelity</h1>
                <div class="grid">
                    <div class="input-group grid3">
                        <!-- <label for="Price">Price</label>
                        <input type="number" placeholder="Enter price" id="Price"> -->
                        <app-input label="Price" controlName="price" placeholder="Enter Price" type="number"
                            [parentForm]="form" id="price"></app-input>
                    </div>
                    <div class="input-group grid3">
                        <!-- <label for="description">Description</label>
                        <input type="text" placeholder="Enter description" id="description"> -->
                        <app-input label="Description" controlName="description" placeholder="Enter Description"
                            type="text" [parentForm]="form" id="description"></app-input>
                    </div>
                    <div class="input-group grid3">
                        <!-- <label for="tags">Tags</label>
                        <input type="text" placeholder="Enter tags" id="tags"> -->
                        <app-input label="Tags" controlName="tags" placeholder="Enter Tags" type="text"
                            [parentForm]="form" id="tags"></app-input>
                    </div>
                </div>
            </div>

            <div class="box form-box">
                <h1>Images</h1>
                <div class="grid">
                    <div class="input-group grid3">
                        <input type="file" id="file">
                    </div>
                </div>
            </div>

            <div class="commonBtn">
                <button type="submit" class="primary-btn" (click)="submit()">Create</button>
            </div>

        </div>

    </form>
</div>