@import "src/styles/variables.scss";

.main-cont {
  padding: 20px;
}

.box {
  h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding: 8px;
  }
}

.input-group input {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  height: 37px;
  padding: 2px;
}

.commonBtn {
  margin-top: 10px;
  text-align: right;
  .primary-btn {
    background-color: $primaryColor;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    outline: none;
    color: #fff;
    border-color: $primaryColor;
    cursor: pointer;
  }
}
