<div class="box">
    <div class="modal__header">
        <h2 class="modal__title">
            {{ titleAction }} {{ headerTitle }}
        </h2>
    </div>

    <div class="modal-body">
        <img src="assets/img/warning.svg" alt="" />
        <p *ngIf="descriptionMessage" class="modal-description" [innerHTML]="descriptionMessage"></p>
        <h4 [innerHTML]="confirmMessage"></h4>
    </div>

    <div class="modal-footer">
        <ng-container>
            <button type="button" class="btn-outline--primary" (click)="decline()">
                <span class="btn__label">{{ textButtonsByType.reject }}</span>
            </button>
            <button type="button" class="btn--primary" (click)="confirm()">
                <span class="btn__label">{{ textButtonsByType.confirm }}</span>
            </button>
        </ng-container>
    </div>
</div>