<div class="container">
  <div class="logo"><span>Logo</span></div>
  <form class="login-form">
    <div>
      <label for="email">Email Address</label>
      <input
        id="email"
        type="email"
        placeholder="Enter email address"
        name="email"
      />
    </div>

    <div class="login-password">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Enter password"
        name="password"
      />
    </div>

    <div class="login-btn">
      <button type="button" class="primary-btn">Login</button>
    </div>
  </form>
</div>
