@import "src/styles/variables.scss";
.container {
  max-width: 400px;
  margin: 12% auto;
  padding: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 4px 4px 20px 0px #00000040;
  position: relative;
}

.logo {
  text-align: center;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

.login-form {
  margin-top: 8px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost";
  font-style: normal;
  color: #000000;
}

.login-form input {
  height: 4px;
  width: 88%;
  padding: 1.2rem;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.login-form input:focus {
  outline: none;
}

.login-password {
  margin-top: 8px;
}

.login-btn {
  margin-top: 8px;
  display: flex;
  justify-content: right;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
